<body>
{{include this resourceType="publick/components/foundation/blogView"}}
{{include this path="comments" resourceType="publick/components/foundation/commentsView"}}

{{include this template="scripts"}}
</body>
