{{#if show}}
    <div class="g-recaptcha" data-sitekey="{{siteKey}}"
        {{~#if size}} data-size="{{size}}"{{/if}}
        {{~#if theme}} data-theme="{{theme}}"{{/if}}
        {{~#if type}} data-type="{{type}}"{{/if}}></div>
{{/if}}
